<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="./waiting.js"></script>
        <title>wait</title>
    </head>
    <body onLoad="setTimeout(location.href='https://www.google.com', '5000')">
        this is where you wait for response wait 5 seconds or click
        <a id="goNow" href="https://www.google.com">here </a>
        to go now!
    </body>
</html>
